<h1 style="margin: auto; display: flex;justify-content: center;align-content: space-around">COLLEGE</h1>
<div style="border: 1px solid gray;border-radius: 1rem;display:flex; justify-content: center;align-content: space-between;padding: 2rem;width:30%;margin: auto;">

    <form action="/functionup/colleges" method="post">
        <div>
            <label for="name">COLLEGE NAME:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="fullName">FULL NAME:</label>
            <input type="text" id="fullName" name="fullName" required>
            <br>
            
            
            <label for="logoLink">LOGO LINK:</label>
            <input type="text" id="logoLink" name="logoLink" required>
            <br>
            
        </div>
        <br>
        <button type="submit">Register</button>
    </form>
</div>
<a href="/functionup/interns" style="margin: auto; display: flex;justify-content: center;align-content: space-around;text-decoration: none;">INTERN</a>
<br>
<a href="/functionup/getdetails" style="margin: auto; display: flex;justify-content: center;align-content: space-around;text-decoration: none;">GET COLLEGE DETAIL </a>
