
<h1 style="margin: auto; display: flex;justify-content: center;align-content: space-around">COLLEGE DETAILS</h1>
<div style="border: 1px solid gray;border-radius: 1rem;display:flex; justify-content: center;align-content: space-around;padding: 2rem;width:30%;margin: auto;">
<form action="/functionup/collegeDetails?collegeName=collegeName" method="get">
    <div>
        <label for="collegeName">COLLEGE NAME:</label>
        <input type="text" id="collegeName" name="collegeName" required>
        <br>
        
    </div>
    <br>
    <button type="submit" ;return false>GET DETAILS</button>
    <div id="data"></div>
</form>

</div>
<a href="/functionup/colleges" style="margin: auto; display: flex;justify-content: center;align-content: space-around;text-decoration: none;">BACK</a>
